{{!-- strat desktop --}}
<tr class="dps-data-append choose-bank">
    <td class="t-col-1">
        <figure class="bank-logo">
           <img src="{{ icon }}" title="{{ name }}">
           <div style="width:100%;padding-top: 5px;">{{ name }}</div>
        </figure>
    </td>
    <td class="t-col-2">
        {{ depositFee }}
    </td>
    <td class="t-col-3">
        {{ depositLimit.symbol }} {{ depositLimit.min }}
        {{!-- <a class="btn btnDeposit upper" onclick="showDepositModal('{{code}}')" style="color: #fff !important;font-weight: 600;cursor:pointer">{{ trans 'LANG_JS_DEPOSIT' }}</a><span class="mb-down"></span>
        <span class="mgl-5"> {{#if depositFee }} {{ depositFee }} {{else}} No fee {{/if}} </span><span class="mb-down"></span>
        <span class="mgl-45"> {{#if depositProcessingTime }} {{ depositProcessingTime }} {{else}} - {{/if}} </span> --}}
    </td>
    <td class="t-col-4"> 
        {{#if depositProcessingTime }} {{ depositProcessingTime }} {{else}} <span class="green"><i class="glyphicon glyphicon-ok-circle"></i>Instantly</span> {{/if}}
    </td>
    <td class="t-col-5"> 
        <button class="btn" onclick="document.location = '{{ code }}';" style="width: 100%;font-size: 16px;">Choose</button>
    </td>
</tr>
{{!-- end desktop --}}