<span id="deposit_step1">
    <div class="row">
        <div class="col-md-12">
            <div class="create-step1">
                <div class="row">
                    <div class="col-md-12 col-12">
                            <div class="dw-nomal">
                                <div class="col-md-12 col-12 no-pd-lr">
                                    <h6 class="black bold">{{ trans 'LANG_DEPOSIT_BONUS'  }}</h6>
                                    <font class="black bold">{{ trans 'LANG_JS_DEPOSIT_UP_TO100' }}</font>
                                </div>
                                <div id="deposit-bonus-box">
                                    <div class="col-md-7" style="float: left;padding-left: 0;">
                                        <label class="block-checkbox" onclick='showBonusCode()' style="width: 100px;float: left;">{{ trans 'LANG_JS_CONFIRM' }}&nbsp;&nbsp;&nbsp;
                                            <input class="form-input create-step2" id="deposit-bonus1" name="account-radio" type="radio"
                                            value="claim" >
                                            <span class="checkmark "></span>
                                        </label>
                                        <label class="block-checkbox" onclick='hideBonusCode()' style="float: left;">{{ trans 'LANG_JS_NO_THANKS' }}
                                            <input class="form-input create-step2" id="deposit-bonus2" name="account-radio" type="radio" value="not claim" checked="checked">
                                            <span class="checkmark active"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-5" style="float: left; text-align: right;">
                                        <a href="/terms-and-conditions/" style="text-decoration: underline;color: #495057;">{{ trans 'LANG_JS_TERMS_AND_CONDITIONS' }}</a>
                                    </div>
                                </div>
                                <div id="div_bonusCode" class="class_bonusCode">
                                <div class="col-md-12 no-pd-lr">
                                    <div class="account-register" style="margin-bottom: 10px;">
                                        <span >{{ trans 'LANG_JS_BONUS_CODE' }}</span>
                                        <input class="form-input" id="bonusCode" name="bonusCode" type="text">
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="col-md-12 p-lr-0" style="padding: 1rem !important;overflow:hidden;padding-bottom: 1rem;border-bottom: 1px solid #aeaeae;">
                            <div style="float:left;" class="ds-card-img">
                                <img src="{{ icon }}">
                            </div>
                            <div style="float:left;" class="ds-card-text">
                                <h3>{{ name }}</h3>
                                <i>{{ trans 'LANG_JS_MIN' }} : {{ mycurrency }} {{ minlimit }} &nbsp;&nbsp;&nbsp; {{ trans 'LANG_JS_MAX' }} : {{ mycurrency }} {{ maxlimit }}</i>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding: 1rem !important;">
                            {{!-- {{#each fields}}
                            <div id="div_{{@key}}" class="class_{{@key}}">
                                <div class="col-md-12 no-pd-lr">
                                    <div class="account-register">
                                    {{#inputselect this.options}}
                                        <span>{{@key}} {{#if this.mandatory }}<font color="red">*</font>{{/if}}</span>
                                        <select id="{{@key}}" name="{{@key}}"  class="form-input">
                                            {{#each this.options}}
                                            {{#if this.id}}
                                                <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                            {{else}}
                                                <option value="{{this.code}}">{{this.code}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                        {{else}}
                                        {{#if this.registrationFields}}
                                            {{#each this.registrationFields}}
                                                <span>{{@key}} {{#if this.mandatory }}<font color="red">*</font>{{/if}} </span><input id="{{@key}}" name="{{@key}}" type="text"  class="form-input"/>
                                            {{/each}}
                                        {{else}}
                                            <span>{{@key}} {{#if this.mandatory }}<font color="red">*</font>{{/if}}</span>
                                            <input id="{{@key}}" name="{{@key}}" type="text" class="form-input"/>
                                        {{/if}}
                                    {{/inputselect}}
                                    </div>
                                </div>
                            </div>
                            {{/each}} --}}
                            <div id="div_gamingAccountID" class="class_gamingAccountID">
                                <div class="col-md-12 no-pd-lr">
                                {{#inputselect fields.gamingAccountID.options}}
                                    <div class="account-register">
                                        <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.gamingAccountID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                        <select id="gamingAccountID" name="gamingAccountID"  class="form-input">
                                            {{#each fields.gamingAccountID.options}}
                                            {{#if this.id}}
                                                <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                            {{else}}
                                                <option value="{{this.code}}">{{this.code}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{else}}
                                    {{#if fields.gamingAccountID.registrationFields}}
                                        {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                        <div class="account-register">
                                            <input id="gamingAccountID" name="gamingAccountID" type="text" class="form-input"/>
                                        </div>
                                        {{!-- {{/each}} --}}
                                    {{else}}
                                    <div class="account-register">
                                        <input id="gamingAccountID" name="gamingAccountID" type="text" class="form-input"/>
                                    </div>
                                    {{/if}}
                                {{/inputselect}}
                                </div>
                            </div>
                            <div id="div_currency" class="class_currency">
                                <div class="col-md-12 no-pd-lr">
                                {{#inputselect fields.currency.options}}
                                    <div class="account-register">
                                        <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.currency.mandatory }}<font color="red">*</font>{{/if}}</span>
                                        <select id="currency" name="currency"  class="form-input">
                                            {{#each fields.currency.options}}
                                            {{#if this.id}}
                                                <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                            {{else}}
                                                <option value="{{this.code}}">{{this.code}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{else}}
                                    {{#if fields.currency.registrationFields}}
                                        {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                        <div class="account-register">
                                            <input id="currency" name="currency" type="text" class="form-input"/>
                                        </div>
                                        {{!-- {{/each}} --}}
                                    {{else}}
                                    <div class="account-register">
                                        <input id="currency" name="currency" type="text" class="form-input"/>
                                    </div>
                                    {{/if}}
                                {{/inputselect}}
                                </div>
                            </div>
                            {{!-- Skrill --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_Skrill" }}
                            {{#inputselect fields.payCardID.options}}
                                <div class="account-register">
                                    <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <select id="payCardID" name="payCardID"  class="form-input">
                                        {{#each fields.payCardID.options}}
                                        {{#if this.id}}
                                            <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                        {{else}}
                                            <option value="{{this.code}}">{{this.code}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                {{else}}
                                {{#if fields.payCardID.registrationFields}}
                                    {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                    <div class="account-register">
                                        <input id="SkrillEmailAddress" name="SkrillEmailAddress" placeholder="email@email.com" type="text" class="form-input"/>
                                    </div>
                                    {{!-- {{/each}} --}}
                                {{else}}
                                <div class="account-register">
                                    <input id="SkrillEmailAddress" name="SkrillEmailAddress" placeholder="email@email.com" type="text" class="form-input"/>
                                </div>
                                {{/if}}
                            {{/inputselect}}
                            {{/ifvalue}}

                            {{!-- End Skrill --}}

                            {{!-- Neteller --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_Neteller" }}
                            {{#inputselect fields.payCardID.options}}
                                <div class="account-register">
                                    <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <select id="payCardID" name="payCardID"  class="form-input">
                                        {{#each fields.payCardID.options}}
                                        {{#if this.id}}
                                            <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                        {{else}}
                                            <option value="{{this.code}}">{{this.code}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                {{else}}
                                {{#if fields.payCardID.registrationFields}}
                                    {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                    <div class="account-register">
                                        <input id="NetellerEmailAddressOrAccountId" name="NetellerEmailAddressOrAccountId" placeholder="email@email.com" type="text" class="form-input"/>
                                    </div>
                                    {{!-- {{/each}} --}}
                                {{else}}
                                <div class="account-register">
                                    <input id="NetellerEmailAddressOrAccountId" name="NetellerEmailAddressOrAccountId" placeholder="email@email.com" type="text" class="form-input"/>
                                </div>
                                {{/if}}
                            {{/inputselect}}
                            {{#if fields.payCardID.inputFields.NetellerSecret}}
                                <div class="account-register">
                                    <span >{{ trans 'LANG_JS_NETTELLER_SECRET' }} {{#if fields.amount.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <input class="form-input" id="NetellerSecret" name="NetellerSecret" type="text" >
                                </div>
                            {{/if}}
                            {{/ifvalue}}

                            {{!-- End Neteller --}}

                            {{!-- EcoPayz --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_EcoPayz" }}
                            {{#if fields.payCardID.mandatory}}
                                {{#inputselect fields.payCardID.options}}
                                    <div class="account-register">
                                        <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                        <select id="payCardID" name="payCardID"  class="form-input">
                                            {{#each fields.payCardID.options}}
                                            {{#if this.id}}
                                                <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                            {{else}}
                                                <option value="{{this.code}}">{{this.code}}</option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                    {{else}}
                                    {{#if fields.payCardID.registrationFields}}
                                        {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                        <div class="account-register">
                                            <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                        </div>
                                        {{!-- {{/each}} --}}
                                    {{else}}
                                    <div class="account-register">
                                        <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                    </div>
                                    {{/if}}
                                {{/inputselect}}
                            {{/if}}
                            {{/ifvalue}}

                            {{!-- End EcoPayz --}}


                            {{!-- Trustly --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_Trustly" }}
                            {{#if fields.payCardID.mandatory}}
                            {{#inputselect fields.payCardID.options}}
                                <div class="account-register">
                                    <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <select id="payCardID" name="payCardID"  class="form-input">
                                        {{#each fields.payCardID.options}}
                                        {{#if this.id}}
                                            <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                        {{else}}
                                            <option value="{{this.code}}">{{this.code}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                {{else}}
                                {{#if fields.payCardID.registrationFields}}
                                    {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                    <div class="account-register">
                                        <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                    </div>
                                    {{!-- {{/each}} --}}
                                {{else}}
                                <div class="account-register">
                                    <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                </div>
                                {{/if}}
                            {{/inputselect}}
                            {{/if}}
                            {{/ifvalue}}

                            {{!-- End Trustly --}}

                            {{!-- PaySafeCard --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_PaySafeCard" }}
                            {{#if fields.payCardID.mandatory}}
                            {{#inputselect fields.payCardID.options}}
                                <div class="account-register">
                                    <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <select id="payCardID" name="payCardID"  class="form-input">
                                        {{#each fields.payCardID.options}}
                                        {{#if this.id}}
                                            <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                        {{else}}
                                            <option value="{{this.code}}">{{this.code}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                {{else}}
                                {{#if fields.payCardID.registrationFields}}
                                    {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                    <div class="account-register">
                                        <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                    </div>
                                    {{!-- {{/each}} --}}
                                {{else}}
                                <div class="account-register">
                                    <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                </div>
                                {{/if}}
                            {{/inputselect}}
                            {{/if}}
                            {{/ifvalue}}
                            {{!-- End PaySafeCard --}}

                            {{!-- Zimpler --}}
                            {{#ifvalue paymentMethodCode value="MoneyMatrix_Zimpler" }}
                            {{#if fields.payCardID.mandatory}}
                            {{#inputselect fields.payCardID.options}}
                                <div class="account-register">
                                    <span>{{ trans 'LANG_JS_PAY_CARD_ID' }} {{#if fields.payCardID.mandatory }}<font color="red">*</font>{{/if}}</span>
                                    <select id="payCardID" name="payCardID"  class="form-input">
                                        {{#each fields.payCardID.options}}
                                        {{#if this.id}}
                                            <option value="{{this.id}}" data-cardToken="{{this.cardToken}}">{{this.name}}</option>
                                        {{else}}
                                            <option value="{{this.code}}">{{this.code}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                {{else}}
                                {{#if fields.payCardID.registrationFields}}
                                    {{!-- {{#each fields.payCardID.registrationFields}} --}}
                                    <div class="account-register">
                                        <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                    </div>
                                    {{!-- {{/each}} --}}
                                {{else}}
                                <div class="account-register">
                                    <input id="payCardID" name="payCardID" placeholder="{{ trans 'LANG_JS_PAY_CARD_ID' }}" type="text" class="form-input"/>
                                </div>
                                {{/if}}
                            {{/inputselect}}
                            {{/if}}
                            {{/ifvalue}}
                            {{!-- End Zimpler --}}

                            {{#if fields.amount }}
                            <div class="account-register">
                                <span >{{ trans 'LANG_AMOUNT' }} {{#if fields.amount.mandatory }}<font color="red">*</font>{{/if}}</span>
                                <input class="form-input" id="amount" name="amount" min="0" step="0.1" type="number" >
                                <div style="margin-top: 20px;overflow: hidden;">
                                    <div class="col-md-4 m-0 p-0" style="float: left;" align="center">
                                        <div class="dp-amount m1">50</div>
                                    </div>
                                    <div class="col-md-4 m-0 p-0" style="float: left;" align="center">
                                        <div class="dp-amount m2">80</div>
                                    </div>
                                    <div class="col-md-4 m-0 p-0" style="float: left;" align="center">
                                        <div class="dp-amount m3">150</div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="account-register foot">
                                <div class="col-md-12 no-pd-lr" style="overflow: hidden;    border-bottom: 1px solid #B0BEC5 !important;margin-bottom: 15px;">
                                    <div class="col-md-6" style="float: left;padding-left: 0;">
                                        <font style="font-weight: 600;color: #495057;font-size:20px !important;">{{ trans  'LANG_JS_DEPOSIT_AMOUNT'  }}</font>
                                    </div>
                                    <div class="col-md-6" style="float: left; text-align: right;padding-right: 0;">
                                        <font style="font-weight: 600;color: #495057;font-size:20px!important;"><span id="cal-deposit-amount"  style="font-weight: 600;color: #495057 !important;font-size:20px!important;">0.00</span> {{mycurrency}}</font>
                                    </div>
                                </div>
                                <div class="col-md-12 no-pd-lr" style="overflow: hidden; border-bottom: 1px solid #B0BEC5;margin-bottom: 15px;">
                                    <div class="col-md-6" style="float: left;padding-left: 0;">
                                        <font style="font-weight: 600;color: #495057;font-size:20px!important;">{{ trans 'LANG_JS_DEPOSIT_FEE' }}</font>
                                    </div>
                                    <div class="col-md-6" style="float: left; text-align: right;padding-right: 0;">
                                        <font style="color: #495057;font-weight: 600;font-size:20px!important;"><span id="cal-deposit-fee" style="font-weight: 600;color: #495057 !important;font-size:20px!important;">0.00</span> {{mycurrency}}</font>
                                    </div>
                                </div>
                                <div class="col-md-12 no-pd-lr" style="overflow: hidden; border-bottom: 1px solid #B0BEC5;margin-bottom: 15px;">
                                    <div class="col-md-6" style="float: left;padding-left: 0;">
                                        <font style="font-weight: 600;color: #000;font-size:20px!important;">{{ trans 'LANG_JS_TOTAL'}}</font>
                                    </div>
                                    <div class="col-md-6" style="float: left; text-align: right;padding-right: 0;">
                                        <font style="color: #000;font-weight: 600;font-size:20px!important;"><span id="cal-deposit-total"  style="font-weight: 600;color: #000;font-size:20px!important;">0.00</span> {{mycurrency}}</font>
                                    </div>
                                </div>
                                <button type="submit" class="go-deposit"> {{ trans 'LANG_DEPOSIT' }}</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>
