{{#each list}}
<tr>
    <td>{{ trans 'LANG_JS_REWARD_LV' }} {{fields.wheel_type}}</td>
    <td>{{fields.win_result}} {{ trans 'LANG_JS_REWARD' }}</td>
    <td>{{fields.win_bonuscode}}</td>
</tr>
{{/each}}
