<div style="margin:10px;border-bottom:1px solid rgba(0,0,0,0.2); overflow: hidden;">
    <div class="col-md-4" style="float:left;padding-left: 0;padding-bottom: 10px;">
        <img src="{{thumbnail}}" alt="{{country}}" style="width:100%;">
    </div>
    <div class="col-md-8" style="float:left;padding-left: 0;padding-bottom: 10px;">
        <p style="color:#7a4c37;margin-bottom: 0">{{winner}} just won</p>
        <p style="color:#7a4c37;margin-bottom: 0">
            <span style="color:#512b20;font-weight:600;font-size: 14px;">{{currency_symbol}}{{amount}}</span>
             in <a class="OpenGame" data-slug="{{game.slug}}" href="javascript: void(0)">
                    <span id="name-game" style="text-decoration:underline;">Starburst</span>
                </a>
        </p>
    </div>
</div>