{{!-- start tablet & mobile --}}
<div class="each-row">
    <div class="row mg-bt-20">
        <div class="col-6">
            <p style="margin-bottom:5px;">LIMIT TYPE</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{typename}}</p>
        </div>
        <div class="col-6">
            <p style="margin-bottom:5px;">AMOUNT</p>
            {{#if current}}
                {{#if current.amount}}
                    <p style="margin-bottom:5px;font-size: 18px;">{{current.amount}} {{symbol}} / {{periodLabel}}</p>
                {{/if}}
                {{#if current.minutes}}
                    <p style="margin-bottom:5px;font-size: 18px;">{{current.minutes}} minutes</p>
                {{/if}}
            {{else}}
                <p style="margin-bottom:5px;font-size: 18px;">No limit</p>
            {{/if}}
        </div> 
    </div>
    <div class="row mg-bt-10">
        <div class="col-6">
            <p style="margin-bottom:5px;">STATUS</p>
            <p style="margin-bottom:5px;font-size: 18px;">
                {{#if updatable}}
                    <span class="green">Active</span>
                {{else}}
                    <span class="yellow">Inactive</span>
                {{/if}}
            </p>
        </div> 
        <div class="col-6">
            <p style="margin-bottom:5px;">EXPIRATION</p>
            {{#if expiryDate}}
                <p style="margin-bottom:5px;font-size: 18px;">{{expiryDate}}</p>
            {{else}}
                <p style="margin-bottom:5px;font-size: 18px;">No expiration</p>
            {{/if}}
        </div>
    </div>
    <div class="row">
         <div class="col-12">
            <a href="/account/limits{{ url }}">
                <button class="btn btn-white-blue" style="width:100%;">Change</button>
            </a>
         </div>
    </div>
</div>
{{!-- end tablet & mobile --}}
