<hr/>
<div>
    <p><u>{{typename}}</u></p>
    {{#if inputperiod }}
        {{#if current.amount }}
          <p>{{ trans 'LANG_JS_LIMIT' }} : {{symbol}} {{current.amount}}{{current.minutes}} / {{daily}}{{weekly}}{{monthly}}</p>
        {{else}}
          <p>{{ trans 'LANG_JS_LIMIT' }} : {{ trans 'LANG_JS_NO_LIMIT' }}</p>
        {{/if}}
    {{else}}
        {{#if current.minutes }}
          <p>{{ trans 'LANG_JS_LIMIT' }} : {{current.minutes}} {{ trans 'LANG_JS_MINUTES' }}</p>
        {{else}}
          <p>{{ trans 'LANG_JS_LIMIT' }} : {{ trans 'LANG_JS_NO_LIMIT' }}</p>
        {{/if}}
    {{/if}}
    <p>{{ trans 'LANG_JS_EXPIRE' }} : {{#if current.expiryDate }}{{current.expiryDate}}{{else}}{{ trans 'LANG_JS_NO_EXPIRATION' }}{{/if}}</p>
</div>
