<tr role="row">
    <td role="cell">{{ transactionID }}</td>
    <td role="cell">
        <p class="mg-bt0">{{ showDate }}</p>
        <p class="mg-bt0">{{ showTime }}</p>
    </td>
    <td role="cell">{{typename}}</td>
    <td role="cell">{{show_currency}} {{show_amount}}</td>
    <td role="cell">
        {{!-- if status Success --}}

        {{#ifCond show_status 'Cancelled'}}
        <p class="mg-bt0">
            <i class="glyphicon glyphicon-remove-circle red" style="font-size: 18px;margin-right: 7px;"></i>
            <span class="red" style="position: absolute;">Cancelled</span>
        </p>
        {{/ifCond}}

        {{#ifCond show_status 'Success'}}
        <p class="mg-bt0">
            <i class="glyphicon glyphicon-ok-circle green" style="font-size: 18px;margin-right: 7px;"></i>
            <span class="green" style="position: absolute;">Done</span>
        </p>
        {{/ifCond}}

        {{#ifCond show_status 'Pending'}}
        <p class="mg-bt0">
            <i class="glyphicon glyphicon-time yellow" style="font-size: 18px;margin-right: 7px;"></i>
            <span class="yellow" style="position: absolute;">Pending</span>
        </p>
        {{/ifCond}}

    </td>
</tr>
