{{!-- start tablet & mobile --}}
<div class="each-row">
    <div class="row mg-bt-20">
        <div class="col-6">
            <p style="margin-bottom:5px;">ID</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{ transactionID }}</p>
        </div>
        <div class="col-6">
            <p style="margin-bottom:5px;">DATE</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{ showDate }}</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{ showTime }}</p>
        </div> 
    </div>
    <div class="row mg-bt-20">
        <div class="col-6">
            <p style="margin-bottom:5px;">TYPE</p>
            <p style="margin-bottom:5px;font-size: 18px;">{{typename}}</p>
        </div> 
        <div class="col-6 ">
            <p style="margin-bottom:5px;">AMOUNT</p>
            <p style="margin-bottom:5px;font-size: 18px;font-weight: 600;">{{show_currency}} {{show_amount}}</p>
        </div>
    </div>
    <div class="row mg-bt-20">
        <div class="col-12">
            <p style="margin-bottom:5px;">STATUS</p>

            {{#ifCond show_status 'Success'}}
                <p style="margin-bottom:5px;">
                    <i class="glyphicon glyphicon-ok-circle green" style="font-size: 18px;margin-right: 7px;"></i>
                    <span class="green" style="position: absolute;">Done</span>
                </p>
            {{/ifCond}}

            {{#ifCond show_status 'Pending'}}
                <p style="margin-bottom:5px;">
                    <i class="glyphicon glyphicon-time yellow" style="font-size: 18px;margin-right: 7px;"></i>
                    <span class="yellow" style="position: absolute;">Pending</span>
                </p>
            {{/ifCond}}

            {{#ifCond show_status 'Cancelled'}}
                <p style="margin-bottom:5px;">
                    <i class="glyphicon glyphicon-remove-circle red" style="font-size: 18px;margin-right: 7px;"></i>
                    <span class="red" style="position: absolute;">Cancelled</span>
                </p>
            {{/ifCond}}

        </div>
    </div>
</div>
{{!-- end tablet & mobile --}}
