<li class="winner-item">
    <a href="/game/{{game.slug}}">
        <div class="winner-item-game"><img src="{{logo}}" alt="{{country}}"></div>
        <div class="winner-item-name">{{winner}}</div>
        <div class="winner-item-amount">{{amount}} {{currency_symbol}}</div>
    </a>
</li>
