<tr style="padding:10px 0" class="dps-data-append">
    <td class="t-col-1">
        <figure class="bank-logo" style="text-align:center;">
            <img src="{{ icon }}">
        </figure>
    </td>
    <td class="t-col-2">
        <font class="bank-title">{{ name }}{{#if payCard.name }} : {{payCard.name}}{{/if}}</font>
    </td>
    <td class="t-col-3" style="text-align: center;">
        <a class="btn btnDeposit upper" onclick="showWithDrawModal('{{code}}','{{#if payCard.id }}{{payCard.id}}{{/if}}')" style="color: #fff !important;font-weight: 600;cursor:pointer">{{ trans 'LANG_JS_WITHDRAW' }}</a><span class="mb-down"></span>
        <span class="mgl-5"> {{#if withdrawFee }} {{ withdrawFee }} {{else}} No fee {{/if}} </span><span class="mb-down"></span>
        <span class="mgl-45"> {{#if withdrawProcessingTime }} {{ withdrawProcessingTime }} {{else}} - {{/if}} </span>
    </td>
    <td class="t-col-4" style="text-align: center;"> {{ withdrawLimit.min }} - {{ withdrawLimit.max }} </td>
</tr>
