{{#each games}}
    {{#table}}
    <div class="game-box" id="game-{{tableID}}">
        <div class="item">
            <div class='square-box box-3-2'>
                <div class='square-content'>
                <div class="square-thumbnail">

                    <div class="img crop" style="vertical-align: middle">

                        {{!-- LIVE CASINO --}}
                        {{#ifCond ../../languagecode  'en'}}
                        <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/game/{{tableID}}?mode=real')">
                        {{else}}
                        <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/{{../../languagecode}}/game/{{tableID}}?mode=real')">
                        {{/ifCond}}
                        {{#if thumbnail}}
                            <img src="{{thumbnail}}">
                        {{else}}
                            <img src="/static/images/no-thumb.png">
                        {{/if}}
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="btn-play-game">
                {{!-- LIVE CASINO --}}
                    {{#ifCond ../../languagecode  'en'}}
                    <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/game/{{tableID}}?mode=real')">
                    {{else}}
                    <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/{{../../languagecode}}/game/{{tableID}}?mode=real')">
                    {{/ifCond}}
                    <img src="/static/images/CTAPlayWhite.png">
                </a>
            </div>
        </div>
    </div>
    {{/table}}
{{/each}}
