{{#games}}
{{#table}}
<div class="item col-sm-4 col-md-3 gamepage{{../classpage}}">
    <div class='square-box box-3-2'>
        <div class='square-content'>
            <div class="square-thumbnail drk">
                {{#ifCond ../../languagecode 'en'}}
                <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/game/{{tableID}}?mode=real')">
                {{else}}
                <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/{{../../languagecode}}/game/{{tableID}}?mode=real')">
                {{/ifCond}}
                <div class="game-cat" id="game-{{tableID}}">
                    {{#if thumbnail}}
                    <img src="{{thumbnail}}">
                    {{else}}
                    <img src="/static/images/no-thumb.png">
                    {{/if}}
                </div>
                </a>
            </div>
        </div>
        <div class="btn-play-game">
            {{#ifCond ../../languagecode  'en'}}
                <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/game/{{tableID}}?mode=real')">
            {{else}}
                <a data-slug="{{tableID}}" style="cursor:pointer;" onclick="return popupLoginGames('/{{../../languagecode}}/game/{{tableID}}?mode=real')">
            {{/ifCond}}
                <img src="/static/images/CTAPlayWhite.png">
            </a>
        </div>
    </div>
    <div class="game-shortname">{{shortName}}</div>
</div>
{{/table}}
{{/games}}