{{#each tables}}
    <div class="game-box" id="game-{{tableID}}">
        <div class="item">
            <div class="square-box box-3-2">
                <div class="square-content">
                    <div class="square-thumbnail">
                        <div class="img crop thumbnail-grid" style="vertical-align: middle">
                        {{#if slug}}
                            <a data-slug="{{tableID}}" href="/game/{{tableID}}">
                            {{else}}
                            <a data-slug="{{tableID}}" href="/game/{{@key}}?mode=real">
                            {{/if}}
                                {{#if thumbnail}}
                                    <img class="hide" src="{{thumbnail}}">
                                {{else}}
                                    <img class="hide" src="/static/images/no-thumb.png">
                                {{/if}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-play-game thumbnail-grid">
                {{#if name}}
                <a data-slug="{{tableID}}" href="/game/{{tableID}}">
                {{else}}
                <a data-slug="{{tableID}}" href="/game/{{@key}}?mode=real">
                {{/if}}
                <img src="/static/images/CTA_Play_More_Info2.png">
                </a>
            </div>
            {{#ifvalue ../mode value="game"}}
            <div class="btn-game-info thumbnail-grid" id="game-show-info-{{tableID}}" onclick="showInfo('{{tableID}}')" style="cursor:pointer">
                <img src="/static/images/CTA_-_Play_More_Info4.png" style="height: 44px;">
            </div>
            {{/ifvalue}}
        </div>
    </div>
{{/each}}
