{{#each games}}
    <div class="game-box hidden game-{{@index}}" game-count="{{@index}}" id="game-{{slug}}">
        <div class="item">
       
            <div class="square-box box-4-3 fullheight">
                <div class="square-content">
                    <div class="square-thumbnail">
                        <div class="img crop" style="vertical-align: middle">
                            {{#if thumbnail}}
                                <img src="{{thumbnail}}">
                            {{else}}
                                <img src="/static/images/no-thumb.png">
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <svg id="fun" id="game-{{slug}}" onclick="addToFrame('{{@key}}','fun')" data-slug="{{slug}}" style="position: absolute;top: 8px; left:8px; z-index: 99;" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 48 48">
            <defs>
                <style>
                    .fun-1,
                    .fun-2 {
                        fill:#fff;
                    }
                </style>
            </defs>
            <title>Practice this game without using real money</title>
            <g id="Layer_2" data-name="Layer 2">
                <path class="fun-1" d="M39.17,13.38l-4.3-1.22-.13,0,.09,0,2.42-.94a1.57,1.57,0,0,0,.92-2,1.46,1.46,0,0,0-.75-.87,1.43,1.43,0,0,0-1.15,0L32,9.88l-2.56,1a1.48,1.48,0,0,0-1,1.52,1.43,1.43,0,0,0,1.05,1.43l1.36.4c2.55.75,5.09,1.51,7.65,2.24a1.91,1.91,0,0,0,.53.08,1.49,1.49,0,0,0,1.49-1.22A1.61,1.61,0,0,0,39.17,13.38ZM18.65,10.82l-1.08-.41-1.91-.73L11.85,8.23A1.43,1.43,0,0,0,10,9,1.61,1.61,0,0,0,10.51,11a3.31,3.31,0,0,0,.66.3l2.21.85L8.66,13.39a1.41,1.41,0,0,0-.9.78,1.66,1.66,0,0,0,0,1.38,1.51,1.51,0,0,0,1.42.91,2,2,0,0,0,.55-.08l5.79-1.65,3.07-.88a1.51,1.51,0,0,0,1.16-1.48A1.53,1.53,0,0,0,18.65,10.82ZM24,0A24,24,0,1,1,0,24,24,24,0,0,1,24,0ZM41.06,22.15c0-.59-.05-1.18-.1-1.77-.05-.75-.11-.82-.85-1a67.62,67.62,0,0,0-13-1.5,92.36,92.36,0,0,0-11.48.28A56.3,56.3,0,0,0,7.36,19.4c-.69.17-.74.23-.8.92A16.68,16.68,0,0,0,11.27,34c4.2,4.27,9.3,6.19,15.3,5.2A17.42,17.42,0,0,0,41.06,22.15Z"/>
                <path class="fun-2" d="M33.19,30.93a12.35,12.35,0,0,1-18.87,0A13.48,13.48,0,0,1,33.19,30.93Z"/>
            </g>
        </svg>

        <svg class="btn-real" id="game-{{slug}}" onclick="addToFrame('{{@key}}','real')" data-slug="{{slug}}" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <defs>
                <style>
                    .cls-1{
                        fill:none;
                    }
                    .cls-2,
                    .cls-3{
                        fill:none;
                        stroke-linecap:round;
                        stroke-linejoin:round;
                        stroke-width:1.88px;
                    }
                    .cls-2{
                        stroke:#fff;
                    }
                    .cls-3{
                        stroke:#fff;
                    }
                </style>
                </defs>
                <title>{{ trans 'LANG_PLAY_THIS_GAME' }}</title>
                <g id="Layer_2" data-name="Layer 2">
                    <path class="cls-1" d="M24,1A23,23,0,1,0,47,24,23,23,0,0,0,24,1ZM18.59,36.32V11.68L36.69,24Z"/>
                    <circle class="cls-2" cx="24" cy="24" r="23"/>
                    <polygon class="cls-3" points="18.59 11.68 18.59 36.33 36.69 24 18.59 11.68"/>
            </g>
        </svg>


    </div>
{{/each}}