{{#if Bonus.length}}
    {{#each Bonus}}
            <h6 style="margin-top:15px;font-size: 14px;">{{ trans 'Casino bonus' }}</h6>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Bonus wallet Id' }}: <span class="font-weight-bold">{{id}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Name' }}: <span class="font-weight-bold">{{name}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Id' }}: <span class="font-weight-bold">{{extension.bonusID}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Remaining wager amount' }}: <span class="font-weight-bold">{{remainingWagerRequirementAmount}} {{currency}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Expiry date' }}: <span class="font-weight-bold">{{expiryDate}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Granted amount' }}: <span class="font-weight-bold">{{amount}} {{currency}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Remaining amount' }}: <span class="font-weight-bold">{{remainingAmount}} {{currency}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'Wager amount' }}: <span class="font-weight-bold">{{initialWagerRequirementAmount}} {{currency}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'LANG_STATUS' }}: <span class="font-weight-bold">{{status}}</span></p>
                </div>
            </div>
            <br />
            <div class="form-group mt-auto" style="border-bottom:1px solid #ced4da;padding-bottom:20px;">
                <button class="btn btn-white-blue forfeitBonus_btn" data-id="{{id}}">{{ trans 'Forfeit' }}</button>
            </div>
    {{/each}}
{{else}}
  
            <h6 style="margin-top:15px;font-size: 14px;">{{ trans 'Casino bonus' }}</h6>
            <div class="row" style="border-bottom:1px solid #ced4da;padding-bottom:15px;">
                <div class="col-md-12">
                    <p class="mb-0">{{ trans 'There is no active bonus at the moment.' }}</p>
                </div>
            </div>
{{/if}}